@{
    ViewData["Title"] = "Create / Edit";
}

@model SpendSmart.Models.Expense;

<div class="text-center">
    <h1 class="display-4">Create or edit an expense</h1>
</div>
<form asp-controller="Home" asp-action="AddCreatedExpense">
    @Html.HiddenFor(m => m.Id)  <!-- Hidden ID -->

    <div class="form-group">
        <label>Value $</label>
        <input class="form-control mt-4" type="number" asp-for="Value" step="0.01" required />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input class="form-control mt-4" type="text" asp-for="Description" required />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button class="btn btn-primary mt-4" type="submit">Save</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}